In [18]:
import pandas as pd

Serbia_Data = pd.read_csv("SerbiaHouseholdCharacteristics.csv")
print(Serbia_Data.head())

               i     t         m  index  women  girls  boys  men  Males 00-03  \
0  7001700171001  2007  Sumadija      0      3      0     1    1            0
1  7001700171002  2007  Sumadija      1      1      0     0    2            0
2  7001700171004  2007  Sumadija      2      1      1     1    1            0
3  7001700171005  2007  Sumadija      3      1      1     0    2            0
4  7001700171007  2007  Sumadija      4      1      1     0    2            0

   Females 00-03  ...  Females 09-13  Males 14-18  Females 14-18  Males 19-30  \
0              0  ...              0            1              0            0
1              0  ...              0            0              0            1
2              0  ...              0            0              0            0
3              0  ...              0            1              1            0
4              0  ...              1            1              0            0

   Females 19-30  Males 31-50  Females 31-50  Males 51-99  Females 51-99  \
0              1            1              1            0              1
1              0            0              1            1              0
2              0            1              1            0              0
3              0            1              1            0              0
4              0            1              1            0              0

   log HSize
0   1.609438
1   1.098612
2   1.386294
3   1.386294
4   1.386294

[5 rows x 23 columns]

In [27]:
import pandas as pd
import numpy as np
from eep153_tools.sheets import read_sheets
Serbia_Data = '1GFu5qKhA6kx2Qjadu7Gnr9853FpPcZxpO4QzAbLlWos'
# Change 'Serbia_Data' to key of your own sheet in Sheets, above
x = read_sheets(Serbia_Data,sheet = 'Food Expenditures (2007)')
x = x.set_index(['i','t','m','j']).squeeze()


# Now prices
p = read_sheets(Serbia_Data,sheet='Food Prices (2007)').set_index(['t','m','j','u'])

# Compute medians of prices for particular time, place and unit
p = p.groupby(['t','m','j','u']).median()

# Just keep metric units
p = p.xs('kg',level="u").squeeze().unstack('j')

# Drop prices for goods we don't have expenditures for
p = p[x.index.levels[-1]].T

# Household characteristics
d = read_sheets(Serbia_Data,sheet="Household Characteristics")
d.columns.name = 'k'

# Fill blanks with zeros
d = d.replace(np.nan,0)

# Expenditures x may have duplicate columns
x = x.T.groupby(['i','t','m','j']).sum()
x = x.replace(0,np.nan) # Replace zeros with missing

# Take logs of expenditures; call this y
y = np.log(x)

d.set_index(['i','t','m'],inplace=True)

KeyError: "None of ['i', 't', 'm', 'j'] are in the columns"

In [28]:
%debug

> /srv/conda/lib/python3.11/site-packages/pandas/core/frame.py(6122)set_index()
   6120
   6121         if missing:
-> 6122             raise KeyError(f"None of {missing} are in the columns")
   6123
   6124         if inplace:

ipdb>  up

> /tmp/ipykernel_256/1332112018.py(7)<module>()
      5 # Change 'Serbia_Data' to key of your own sheet in Sheets, above
      6 x = read_sheets(Serbia_Data,sheet = 'Food Expenditures (2007)').set_index(['i','t','m','j'])
----> 7 x = x.set_index(['i','t','m','j']).squeeze()
      8
      9

ipdb>  x

                                                            Expenditure
i             t    m         j
7001700171001 2007 Sumadija  @ivinsko meso                        480.0
                             Beli hleb                            175.0
                             Cigarete                             315.0
                             Crni i beli luk i praziluk            84.0
                             Crni, ra`ani, integralni hleb        210.0
...                                                                 ...
8049701561014 2007 Vojvodina Polubeli hleb                        175.0
                             So                                     2.0
                             Svinjska mast, salo, loj              18.0
                             Svinjsko meso                        180.0
                             Za~ini                                18.0

[196702 rows x 1 columns]

ipdb>  exit()

In [21]:
d.head()

,,k,Females 00-03,Females 04-08,Females 09-13,Females 14-18,Females 19-30,Females 31-50,Females 51-99,Males 00-03,Males 04-08,Males 09-13,Males 14-18,Males 19-30,Males 31-50,Males 51-99,log HSize
i,t,m,,,,,,,,,,,,,,,
0007d1f1449242feb5a25429644fb991,2019-20,Northern,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.609438
0010cbae3cea4ec9831f6cd92b02dc16,2019-20,Northern,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.098612
00246782f8654441a9df0f6ec0b6fc9f,2019-20,Northern,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.791759
003ed8d32f794609919d60d2ed8813e8,2019-20,Eastern,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.386294
004e93d7552248ed95d8bc3ec21bdbdb,2018-19,Eastern,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.386294